#container{
    max-width: 500px;
    margin: 0 auto;  
}
.example-spacer {
    flex: 1 1 auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

.example-headers-align .mat-expansion-panel-header-title {
    align-items: center;
}

#noContacts{
    text-align: center;
}
